{% extends 'base/base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div class="row md-auto">
                <div class="col-md-12 col-lg-2 mb-2 p-0 position-relative">
                    <button type="button" class="btn btn-outline-dark shadow-sm" data-bs-toggle="modal" data-bs-target="#Fair">
                        {% if items_wait.count > 0 %}
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            {{items_wait.count}}
                            </span>
                        {% endif %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="25" fill="currentColor" class="bi bi-fire" viewBox="0 0 16 16">
                            <path d="M8 16c3.314 0 6-2 6-5.5 0-1.5-.5-4-2.5-6 .25 1.5-1.25 2-1.25 2C11 4 9 .5 6 0c.357 2 .5 4-2 6-1.25 1-2 2.729-2 4.5C2 14 4.686 16 8 16Zm0-1c-1.657 0-3-1-3-2.75 0-.75.25-2 1.25-3C6.125 10 7 10.5 7 10.5c-.375-1.25.5-3.25 2-3.5-.179 1-.25 2 1 3 .625.5 1 1.364 1 2.25C11 14 9.657 15 8 15Z"/>
                        </svg>
                    </button>
                    <div class="modal fade text-dark" id="Fair" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Необходимо выкупить</h5>
                                </div>
                                <div class="modal-body">
                                    <table class="table">
                                        <thead align="center">
                                            <tr class="table-dark">
                                                <th width="8%">Дата</th>
                                                <th width="3%">Выбрать</th>
                                                <th width="32%">Описание</th>
                                                <th width="5%">Фото</th>
                                                <th width="10%">Клиент</th>
                                                <th width="10%">Магазин</th>
                                                <th width="10%">
                                                    <div class="dropdown">
                                                        <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                                                aria-expanded="false">
                                                            Статус
                                                        </button>
                                                        <ul class="dropdown-menu dropdown-menu-dark">
                                                            {% for s in stat %}
                                                            <li>
                                                                <input type="submit" form="form_checkbox_wait" class="dropdown-item"
                                                                       name="stat_checkbox" value="{{s}}">
                                                            </li>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                </th>
                                            </tr>
                                        </thead>
                                    </table>
                                    <div class="overflow-scroll" style="height: 400px;">
                                        <table class="table table-striped table-hover bg-white rounded-2 shadow">
                                            <form class="" action="{% url 'general' %}" id="form_checkbox_wait"
                                              method="get" enctype="multipart/form-data">
                                                {% for i in items_wait %}
                                                <tr align="center">
                                                    <td width="8%">{{i.time_create|date:"d/m/y"}}</td>
                                                    <td width="5%">
                                                        <input class="form-check-input" type="checkbox" name={{i.pk}} id="checkbox_wait">
                                                    </td>
                                                    <td width="32%"> <a href = "{{i.get_absolute_url}}" class="link-dark"> {{i.description}} </a> </td>
                                                    {% if i.image %}
                                                    <td width="5%"><img src="{{i.image.url}}" height="50"></td>
                                                    {% endif %}
                                                    <td width="10%"><a href = "{{i.client.get_absolute_url}}" class="link-dark">{{i.client}} </a> </td>
                                                    <td width="10%">{{i.shop}}</td>
                                                    <td width="10%">{{i.status}}</td>
                                                </tr>
                                                {% endfor %}
                                            </form>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-2 mx-2">
                    <a href="{% url 'sk_ceo' %}">
                        <button class="btn btn-outline-dark shadow-sm">
                            <svg xmlns="http://www.w3.org/2000/svg" width="23" height="25" fill="currentColor" class="bi bi-truck" viewBox="0 0 16 16">
                                <path d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                            </svg>
                        </button>
                    </a>
                </div>
                <div class="col-md-12 col-lg-2 mx-2">
                    <a href="{% url 'have' %}">
                        <button class="btn btn-outline-dark shadow-sm">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-shop-window" viewBox="0 0 16 16">
                                <path d="M2.97 1.35A1 1 0 0 1 3.73 1h8.54a1 1 0 0 1 .76.35l2.609 3.044A1.5 1.5 0 0 1 16 5.37v.255a2.375 2.375 0 0 1-4.25 1.458A2.371 2.371 0 0 1 9.875 8 2.37 2.37 0 0 1 8 7.083 2.37 2.37 0 0 1 6.125 8a2.37 2.37 0 0 1-1.875-.917A2.375 2.375 0 0 1 0 5.625V5.37a1.5 1.5 0 0 1 .361-.976l2.61-3.045zm1.78 4.275a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 1 0 2.75 0V5.37a.5.5 0 0 0-.12-.325L12.27 2H3.73L1.12 5.045A.5.5 0 0 0 1 5.37v.255a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0zM1.5 8.5A.5.5 0 0 1 2 9v6h12V9a.5.5 0 0 1 1 0v6h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1V9a.5.5 0 0 1 .5-.5zm2 .5a.5.5 0 0 1 .5.5V13h8V9.5a.5.5 0 0 1 1 0V13a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V9.5a.5.5 0 0 1 .5-.5z"/>
                            </svg>
                        </button>
                    </a>
                </div>
                <div class="col-md-12 col-lg-2 mx-2">
                    <a href="{% url 'indicator_general' %}">
                        <button class="btn btn-outline-dark shadow-sm">
                            <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-graph-up" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M0 0h1v15h15v1H0V0Zm14.817 3.113a.5.5 0 0 1 .07.704l-4.5 5.5a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61 4.15-5.073a.5.5 0 0 1 .704-.07Z"/>
                            </svg>
                        </button>
                    </a>
                </div>
                <div class="col-lg-11 pt-3 border border-dark rounded-2 shadow">
                    <button type="button" class="btn btn-outline-dark shadow-sm mx-4" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <h4>Фильтры</h4>
                    </button>
                    <div class="modal fade text-dark" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h6 class="modal-title">Выбери необходимые фильтры</h6>
                                </div>
                                <div class="modal-body">
                                    <form action="">
                                    {{formfilter.as_p}}
                                        <hr>
                                    <button type="submit" class="btn btn-dark">Отфильтровать</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="btn-group dropend">
                        <button type="button" class="btn btn-white shadow-sm btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Магазины
                        </button>
                            <ul class="dropdown-menu dropdown-menu-dark overflow-scroll" style="height: 400px;" >
                                {% for s in shop %}
                                <li>
                                    <form action="">
                                        <input type="submit" class="dropdown-item" name="shop" value="{{s}}">
                                    </form>
                                </li>
                                {% endfor %}
                            </ul>
                    </div><hr>
                    <div class="btn-group dropend">
                        <button type="button" class="btn btn-white shadow-sm btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Статус
                        </button>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            {% for s in stat %}
                            <li>
                                <form action="">
                                    <input type="submit" class="dropdown-item" name="stat" value="{{s}}">
                                </form>
                            </li>
                            {% endfor %}
                        </ul>
                    </div><hr>
                    <div class="btn-group dropend">
                        <button type="button" class="btn btn-white shadow-sm btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Категория
                        </button>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            {% for s in cat %}
                            <li>
                                <form action="">
                                    <input type="submit" class="dropdown-item" name="cat" value="{{s}}">
                                </form>
                            </li>
                            {% endfor %}
                        </ul>
                    </div><hr>
                    <div class="btn-group dropend">
                        <form action="">
                            <input type="text" class="form-control" name="client" value="{{c}}"
                                   placeholder="Найти клиента" list="listClient">
                        </form>
                        <datalist id="listClient">
                            {% for c in client %}
                            <option lable="{{c}}" value="{{c.pk}}">{{c}}</option>
                            {% endfor %}
                        </datalist>
                    </div><hr>
                </div>
            </div>
        </div>
        <div class="col-lg-10 border border-dark rounded-2 shadow g-0">
            <table class="table">
                <thead align="center">
                    <tr class="table-dark">
                        <th width="8%">Дата</th>
                        <th width="3%">Выбрать</th>
                        <th width="32%">Описание</th>
                        <th width="5%">Фото</th>
                        <th width="10%">Клиент</th>
                        <th width="10%">Магазин</th>
                        <th width="5%">Продажа</th>
                        <th width="5%">Остаток</th>
                        <th width="10%">
                            <div class="dropdown">
                                <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                    Статус
                                </button>
                                <ul class="dropdown-menu dropdown-menu-dark">
                                    {% for s in stat %}
                                    <li>
                                        <input type="submit" form="form_checkbox" class="dropdown-item"
                                               name="stat_checkbox" value="{{s}}">
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </th>
                    </tr>
                </thead>
            </table>
            <div class="overflow-scroll" style="height: 65vh;">
                <table class="table table-striped table-hover bg-white rounded-2 shadow">
                    <form class="" action="{% url 'general' %}" id="form_checkbox"
                      method="get" enctype="multipart/form-data">
                        {% for i in items %}
                        <tr align="center">
                            <td width="8%">{{i.time_create|date:"d/m/y"}}</td>
                            <td width="5%">
                                <input class="form-check-input" type="checkbox" name={{i.pk}} id="checkbox">
                            </td>
                            <td width="32%"><a href = "{{i.get_absolute_url}}" class="link-dark"> {{i.description}}</a></td>
                            <!--{% if i.image %}
                            <td width="5%"><img src="{{i.image.url}}" height="50"></td>
                            {% endif %}-->
                            {% if i.have == True %}
                            <td width="10%"><a href="{% url 'have' %}" class="link-dark">Наличие</a></td>
                            {% else %}
                            <td width="10%"><a href = "{{i.client.get_absolute_url}}" class="link-dark">{{i.client}}</a></td>
                            {% endif %}
                            <td width="10%">{{i.shop}}</td>
                            <td width="5%">{{i.selling_price}}</td>
                            <td width="5%">{{i.residue}}</td>
                            <td width="10%">{{i.status}}</td>
                        </tr>
                        {% empty %}
                        <h3 class="text-center">Товара по таким критериям не найдено</h3>
                        {% endfor %}
                    </form>
                </table>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container-fluid">
    <div class=" row bg-dark text-white rounded-2 text-center" style="height: 60px;">
        <div class="col-4">
            <h5>Общий доход = {{total}} рублей</h5>
            <h5>Вообще посылок = {{items.count}} штук</h5>
        </div>
        <div class="col-4">
            <h5>Нам должны = {{residue_total}} рублей</h5>
            <h5>Всего клиентов = {{client.count}} человек</h5>
        </div>
        <div class="col-4">
            <h5>Нужно Оплатить = {{paid}} рублей</h5>
            <h5>Неоплачено посылок = {{items_paid}} штук</h5>
        </div>
    </div>
</div>
{% endblock %}