{% extends 'base/base.html' %}

{% block content %}
<div class="container-fluid" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="col-2"><h5>Уже в России</h5></div>
        <div class="col-6 offset-4">
            {% if user.username in ceo %}
            <h5 class="p-1">Всего выкупленно на наличае {{total}} товаров на общую сумму {{sum_purchase_price}}р.</h5>
            {% endif %}
        </div>
        <div class="row d-flex flex-row mx-5">
            {% for h in have %}
            {% if h.goods %}
            <div class="col-2 m-2 border border-dark rounded-2 shadow bg-dark text-white">
                <a href="{{h.get_absolute_url}}" class="image-link">
                    <img class="pt-2" src="{{h.image.url}}" width="210">
                </a>
                <div class="text-center">Цена покупки {{h.purchase_price}} р.</div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <hr>
    <div class="row">
        <div><h5>Едет в Россию</h5></div>
        <div class="row d-flex flex-row mx-5">
            {% for h in have %}
            {% if not h.goods %}
            <div class="col-2 m-2 border border-dark rounded-2 shadow bg-dark text-white">
                <a href="{{h.get_absolute_url}}" class="image-link">
                    <img class="pt-2" src="{{h.image.url}}" width="210">
                </a>
                <div class="text-center">Цена покупки {{h.purchase_price}} р.</div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}