{% extends 'base/base.html' %}
{% block content %}
<div class="conteiner">
    <div class="row">
        <div class="col-2 mt-5">
            <button type="button" class="shadow btn btn-outline-dark btn-lg mt-2" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                Добавить<hr>нового клиента<br>или<br> новый магазин
            </button></a>
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
              <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasExampleLabel"></h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Закрыть"></button>
              </div>
              <div class="offcanvas-body">
                  <div class="conteiner">
                    <div class="row">
                        <div class="col-12">
                            <form action="{% url 'new_product' %}" method="post" enctype="multipart/form-data">
                                <span class=""><h5>Добавить нового клиента</h5></span><br>
                                {% csrf_token %}
                                {{form_client.as_p}}
                                <button type="submit" class="offset-8 btn btn-dark shadow-sm">Добавить</button>
                                <hr>
                            </form>
                            <form action="{% url 'new_product' %}" method="post" enctype="multipart/form-data">
                                <span class=""><h5>Добавить новый магазин</h5></span><br>
                                {% csrf_token %}
                                {{form_shop.as_p}}
                                <button type="submit" class="offset-8 btn btn-dark shadow-sm">Добавить</button>
                            </form>
                        </div>
                    </div>
                </div>
              </div>
            </div>
        </div>
        <div class="col-8">
            <h4 class="md-3">Добавление нового заказа</h4><hr>
            <div class="border border-dark rounded-2 p-3 shadow">
                <form class="row g-2 ustify-content-center" action="{% url 'new_product' %}" id="form_new_prod"
                      method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="col-md-12">
                        <label class="form-label">Описание</label>
                        {{form.description}}
                    </div>
                    <div class="col-md-5">
                        <label class="form-label">Фото</label>
                        {{form.image}}
                    </div>
                    <div class="col-md-6 offset-1">
                        <label class="form-label">Категория</label>
                        {{form.category}}
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Клиент</label>
                        {{form.client}}
                        <datalist id="listClient">
                            {% for c in client %}
                            <option label="{{c.telephone}}" value={{c.pk}}></option>
                            {% endfor %}
                        </datalist>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Магазин</label>
                        {{form.shop}}
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Цена покупки в валюте</label>
                        <input class="form-control" placeholder="Цена товара в валюте">
                    </div>
                    <div class="col-md-2 mt-4 px-4 text-center">
                        <div class="btn-group" role="group" aria-label="Валюта">
                          <input type="radio" class="btn-check" name="currency" id="eur" value="eur" autocomplete="off" checked>
                            <label class="btn btn-outline-secondary" for="eur">
                              <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-currency-euro" viewBox="0 0 16 16">
                                <path d="M4 9.42h1.063C5.4 12.323 7.317 14 10.34 14c.622 0 1.167-.068 1.659-.185v-1.3c-.484.119-1.045.17-1.659.17-2.1 0-3.455-1.198-3.775-3.264h4.017v-.928H6.497v-.936c0-.11 0-.219.008-.329h4.078v-.927H6.618c.388-1.898 1.719-2.985 3.723-2.985.614 0 1.175.05 1.659.177V2.194A6.617 6.617 0 0 0 10.341 2c-2.928 0-4.82 1.569-5.244 4.3H4v.928h1.01v1.265H4v.928z"/>
                              </svg>
                            </label>
                          <input type="radio" class="btn-check" name="currency" id="usd" value="usd" autocomplete="off">
                          <label class="btn btn-outline-secondary" for="usd">
                              <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-currency-dollar" viewBox="0 0 16 16">
                                <path d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718H4zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73l.348.086z"/>
                              </svg>
                          </label>
                        </div>
                    </div>
                    <div class="col-md-3 mt-4 px-4 text-center">
                        <div id="USD">$ — 00,00 руб.</div>
                        <div id="EUR">€ — 00,00 руб.</div>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Цена покупки в рублях</label>
                        {{form.purchase_price}}
                    </div>
                    <div class="col-md-4 ">
                        <label class="form-label">Цена продажи</label>
                        {{form.selling_price}}
                    </div>
                    <div class="col-md-4 offset-2">
                        <label class="form-label">Сумма предоплаты</label>
                        {{form.prepayment}}
                    </div>
                </form>
            </div>
            <hr>
        </div>
    </div>
    <div class="row my-2 justify-content-center">
        <div class="col-2 offset-5 text-end">
            <a href = "{% url 'general' %}">
                <button type="button" class="btn btn-outline-secondary btn-lg shadow">Отмена</button>
            </a>
        </div>
        <div class="col-2">
            <button type="submit" form="form_new_prod" class="btn btn-dark btn-lg shadow">Добавить</button>
        </div>
    </div>
</div>
{% endblock %}