{% extends 'base/base.html' %}

{% block content %}
<div class="container-fluid" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="col-md-5 text-center">
            <h3 class="text-center"><strong>Фото товара</strong></h3>
            {% if items.image.height > items.image.width %}
            <img src="{{items.image.url}}" height="630px" class="border border-3 rounded-2 shadow border-dark"><br>
            {% else %}
            <img src="{{items.image.url}}" width="560px" class="border border-3 rounded-2 shadow border-dark"><br>
            {% endif %}
        </div>
        <div class="col-md-6 px-4">
            <h3 class="text-center"><strong>Информация о товаре</strong></h3>
            <form action="{% url 'product' product_id=items.pk %}" id="form_prod_update"
                      method="post" class="row py-3 h5 border border-3 rounded-2 shadow border-dark bg-white">
                {% csrf_token %}
                <div class="col-md-3">
                    <label class="form-label">Дата создания</label>
                        <span class="form-control border border-1 shadow border-dark">
                            {{items.time_create|date:"d.m.Y"}}</span>
                </div>
                <div class="col-md-4">
                    <label class="form-label">Дата изменения</label>
                        <span class="form-control border border-1 shadow border-dark">
                            {{items.time_update|date:"d-m-Y"}}</span>
                </div>
                <div class="col-md-5">
                    <label class="form-label">Статус*</label>
                        <select class="form-select form-control border border-1 shadow border-dark" name="status">
                            <option selected>{{items.status}}</option>
                            {% for s in status %}
                            <option>{{s}}</option>
                            {% endfor %}
                        </select>
                </div>
                <div class="col-md-3 mt-3">
                    <label class="form-label">Клиент</label>
                        <span class="form-control border border-1 shadow border-dark">{{items.client}}</span>
                </div>
                {% if user.username in ceo %}
                <div class="col-md-6 mt-3">
                    <label class="form-label">Описание</label>
                        <span class="form-control border border-1 shadow border-dark">{{items.description}}</span>
                </div>
                <div class="col-md-3 mt-3">
                    <label class="form-label">Cотрудник*</label>
                        <select class="form-select form-control border border-1 shadow border-dark" name="employee">
                            <option selected>{{items.employee}}</option>
                            {% for s in employee %}
                            <option>{{s}}</option>
                            {% endfor %}
                        </select>
                </div>
                {% else %}
                <div class="col-md-9 mt-3">
                    <label class="form-label">Описание</label>
                        <span class="form-control border border-1 shadow border-dark">{{items.description}}</span>
                </div>
                {% endif %}
                <div class="col-md-6 mt-3">
                    <label class="form-label">Магазин</label>
                        <span class="form-control border border-1 shadow border-dark">{{items.shop}}</span>
                </div>
                <div class="col-md-3 mt-3">
                    <label class="form-label">Категория</label>
                        <span class="form-control border border-1 shadow border-dark">{{items.category}}</span>
                </div>
                <div class="col-md-3 mt-3">
                    <label class="form-label">Прибыль</label>
                        <span class="form-control border border-1 shadow border-dark">{{items.profit}}</span>
                </div>
                <div class="col-md-3 mt-3">
                    <label class="form-label">Покупка*</label>
                        <div class="input-group border border-1 shadow rounded-1 border-dark">
                            <input class="form-control border-0" name="purchase_price" id="purchase_price"
                               value="{{items.purchase_price}}">
                            <button class="btn border-start" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calculator" viewBox="0 0 16 16">
                                <path d="M12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h8zM4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4z"/>
                                <path d="M4 2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5v-2zm0 4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm0 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm0 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm3-6a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm0 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm0 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm3-6a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm0 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-4z"/>
                                </svg>
                            </button>
                        </div>
                </div>
                <div class="col-md-3 mt-3">
                    <label class="form-label">Продажа*</label>
                        <input class="form-control border border-1 shadow border-dark" name="selling_price" value="{{items.selling_price}}">
                </div>
                <div class="col-md-3 mt-3">
                    <label class="form-label">Предоплата*</label>
                        <input class="form-control border border-1 shadow border-dark" name="prepayment" value="{{items.prepayment}}">
                </div>
                <div class="col-md-3 mt-3">
                    <label class="form-label">Остаток</label>
                        <span class="form-control h5 border border-1 shadow border-dark">{{items.residue}}</span>
                </div>
                <div class="collapse" id="collapseExample">
                    <div class="card card-body my-3 p-4 bg-light text-dark text-start">
                        <div class="row">
                            <div class="col-3">
                                <input class="form-control" id="price_currency" placeholder="Цена товара в валюте">
                            </div>
                            <div class="col-2 btn-group" role="group" aria-label="Валюта">
                                  <input type="radio" class="btn-check" name="currency" onclick="func(1)" id="eur" value={{rate.eur|floatformat:2}} autocomplete="off">
                                    <label class="btn btn-outline-secondary" for="eur">
                                      <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-currency-euro" viewBox="0 0 16 16">
                                        <path d="M4 9.42h1.063C5.4 12.323 7.317 14 10.34 14c.622 0 1.167-.068 1.659-.185v-1.3c-.484.119-1.045.17-1.659.17-2.1 0-3.455-1.198-3.775-3.264h4.017v-.928H6.497v-.936c0-.11 0-.219.008-.329h4.078v-.927H6.618c.388-1.898 1.719-2.985 3.723-2.985.614 0 1.175.05 1.659.177V2.194A6.617 6.617 0 0 0 10.341 2c-2.928 0-4.82 1.569-5.244 4.3H4v.928h1.01v1.265H4v.928z"/>
                                      </svg>
                                    </label>
                                  <input type="radio" class="btn-check" name="currency" onclick="func(3)" id="usd" value={{rate.usd|floatformat:2}} autocomplete="off">
                                    <label class="btn btn-outline-secondary" for="usd">
                                      <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-currency-dollar" viewBox="0 0 16 16">
                                        <path d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718H4zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73l.348.086z"/>
                                      </svg>
                                    </label>
                            </div>
                            <div class="col-2 offset-1">
                                <input class="form-control" id="percent" value="10">
                            </div>
                            <div class="col-1">
                                <button type="button" class="btn btn-outline-secondary"  onclick="sale()" data-bs-toggle="button">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-percent" viewBox="0 0 16 16">
                                        <path d="M13.442 2.558a.625.625 0 0 1 0 .884l-10 10a.625.625 0 1 1-.884-.884l10-10a.625.625 0 0 1 .884 0zM4.5 6a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm0 1a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5zm7 6a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm0 1a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
                                    </svg>
                                </button>
                            </div>
                            <script>
                                function func(op) {
                                    var purchase_price;
                                    var eur = parseFloat(document.getElementById("eur").value.replace(',', '.'));
                                    var usd = parseFloat(document.getElementById("usd").value.replace(',', '.'));
                                    var price_currency = Number(document.getElementById("price_currency").value);
                                    if (op < 2){
                                        purchase_price = price_currency * eur;
                                    } else {
                                        purchase_price = price_currency * usd;
                                    }
                                    document.getElementById("purchase_price").value = purchase_price.toFixed(0);
                                    }
                            </script>
                            <script>
                                function sale(){
                                    var purchase_price;
                                    var percent = Number(document.getElementById("percent").value);
                                    var price = Number(document.getElementById("purchase_price").value);

                                    purchase_price = price - ((percent/100)*price);
                                    document.getElementById("purchase_price").value = purchase_price.toFixed(0);
                                    }
                            </script>
                        </div>
                    </div>
                </div>
                {% if items.goods %}
                <div class="col-md-3 mt-3">
                    <label class="form-label">Вес в кг.</label>
                        <span class="form-control h5 border border-1 shadow border-dark">{{items.goods.weight}}</span>
                </div>
                <div class="col-md-3 mt-3">
                    <label class="form-label">Доставка</label>
                        <span class="form-control h5 border border-1 shadow border-dark">{{items.goods.shipping}}</span>
                </div>
                <div class="col-md-3 mt-3">
                    <label class="form-label">№ на складе</label>
                        <span class="form-control h5 border border-1 shadow border-dark">{{items.goods.pk}}</span>
                </div>
                <div class="col-md-3 mt-3">
                    <label class="form-label">№ Партии</label>
                        <span class="form-control h5 border border-1 shadow border-dark">{{items.goods.batch}}</span>
                </div>
                {% endif %}
                <input type="hidden" name="url" value={{url}}>
            </form>
            <div class="row">
                <div class="col-2 mt-3">
                    <button type="submit" onclick="window.history.back(-2)" class="btn btn-outline-dark shadow" form="form_prod_update">Изменить</button>
                </div>
                <div class="col-2 mt-3 text-end">
                    <a href = "{% url 'copy_product' product_id=items.pk %}">
                        <button type="button" class="btn btn-outline-dark shadow">Копировать</button>
                    </a>
                </div>
                <div class="col-2 mt-3 text-end">
                    <a href = {{items.client.get_absolute_url}}>
                        <button type="button" class="btn btn-outline-dark shadow">Клиент</button>
                    </a>
                </div>
                {% if items.have == True %}
                <div class="col-2 offset-1 mt-3 text-end">
                    <button type="button" class="btn btn-danger shadow btn-lg" data-bs-toggle="modal"
                            data-bs-target="#sell">Продать
                    </button>
                    <div class="modal fade" id="sell" tabindex="-1"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered container-fluid modal-lg" style="width: 75%;">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Продажа</h5>
                                </div>
                                <div class="modal-body">
                                    <div class="container-fluid">
                                        <form action="{% url 'product' product_id=items.pk %}" id="form_sale"
                                            method="post">
                                            {% csrf_token %}
                                        <div class="row text-start">
                                            <div class="col-6">
                                                <label class="form-label">Клиент</label>
                                                <input class="form-control border border-1 border-dark" name="client"
                                                       list="listClient" placeholder="Введите для поиска...">
                                                <datalist id="listClient">
                                                    {% for c in client %}
                                                    <option label="{{c.telephone}}" value={{c.pk}}></option>
                                                    {% endfor %}
                                                </datalist>
                                            </div>
                                            <div class="col-6">
                                                <label class="form-label">Цена продажи</label>
                                                <input class="form-control border border-1 border-dark"
                                                       name="selling_price">
                                            </div>
                                        </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="modal-footer text-end">
                                    <button type="submit" class="btn btn-outline-dark" form="form_sale">
                                        Продать
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="col-3">
                    <br><hr>
                </div>
                {% endif %}
                <div class="col-2 mt-3 offset-1 text-end">
                    <button type="button" onclick="history.back()" class="btn btn-outline-dark btn-lg shadow">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}