{% extends 'dashbord/sk_base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-3 px-3 row">
            <div class="col-12 p-3 border border-dark rounded-2 shadow">
                <form class="row g-2 ustify-content-center" action="{% url 'sk_batch' %}" id="form_new_good"
                          method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form.as_p}}
                    <div class="offset-8 col-2">
                        <button type="submit" form="form_new_good" class="btn btn-outline-dark">Добавить</button>
                    </div>
                </form>
            </div>
            <div class="col-12 mt-3 p-3 border border-dark rounded-2 shadow">
                <form class="row g-2 ustify-content-center" action="{% url 'sk_batch' %}" id="form_new_brand"
                          method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form_brand.as_p}}
                    <div class="offset-8 col-2">
                        <button type="submit" form="form_new_brand" class="btn btn-outline-dark">Добавить</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-9 border border-dark rounded-2 shadow g-0">
            <table class="table">
                <thead align="center">
                    <tr class="table-dark">
                        <th width="5%">Номер</th>
                        <th width="10%">Дата</th>
                        <th width="10%">Фото</th>
                        <th width="25%">Описание</th>
                        <th width="10%">Вес</th>
                        <th width="10%">Бренд</th>
                        <th width="5%">
                            <form action="{% url 'sk_batch' %}" method="get">
                                <button class="btn btn-dark btn-outline-light btn-sm" name="batch" value="batch"
                                        type="submit">
                                    <strong>Партия</strong>
                                </button>
                            </form>
                        </th>
                        <th width="10%">Сотрудник</th>
                    </tr>
                </thead>
            </table>
            <div class="overflow-scroll" style="height: 530px;">
                <table class="table table-striped table-hover bg-white rounded-2 shadow">
                    {% for i in goods %}
                    <tr align="center">
                        <td width="5%">{{i.pk}}</td>
                        <td width="10%">{{i.time_create|date:"d/m/y"}}</td>
                        {% if i.image %}
                        <td width="10%">
                            <a href="#" class="image-link" data-bs-toggle="modal"
                               data-bs-target="#exampleModal{{ forloop.counter }}">
                                <img src="{{ i.image.url }}" height="50">
                            </a>
                            <div class="modal fade" id="exampleModal{{ forloop.counter }}" tabindex="-1"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered container-fluid">
                                <img src="{{ i.image.url }}" height="700">
                            </div>
                        </div>
                        </td>
                        {% endif %}
                        <td width="25%">
                            <a href="#" class="link-dark" data-bs-toggle="modal"
                               data-bs-target="#changes{{i.pk}}">
                                {{i.description}}
                            </a>
                            <div class="modal fade" id="changes{{i.pk}}" tabindex="-1"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered container-fluid modal-lg" style="width: 75%;">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Внести изменения</h5>
                                        </div>
                                        <div class="modal-body">
                                            <div class="container-fluid">
                                                <form action="{% url 'sk_batch' %}" id="form_changes{{i.pk}}" method="post">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="pk" value="{{i.pk}}">
                                                    <div class="row text-start">
                                                        <div class="col-6">
                                                            <label class="form-label">Описание</label>
                                                            <input class="form-control" name="description" value="{{i.description}}">
                                                        </div>
                                                        <div class="col-3">
                                                            <label class="form-label">Вес</label>
                                                            <input class="form-control" name="weight" value="{{i.weight}}">
                                                        </div>
                                                        <div class="col-3">
                                                            <label class="form-label">Бренд</label>
                                                            <select class="form-select" name="brand">
                                                    <option selected>{{i.brand}}</option>
                                                        {% for b in brands %}
                                                        <option>{{b}}</option>
                                                        {% endfor %}
                                                    </select>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="modal-footer text-end">
                                            <button type="submit" class="btn btn-outline-dark" form="form_changes{{i.pk}}">
                                                Изменить
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td width="10%">{{i.weight}}</td>
                        <td width="10%">{{i.brand}}</td>
                        <td width="5%">{{i.batch}}</td>
                        <td width="10%">{{i.employee}}</td>
                    </tr>
                    {% empty %}
                    <h3 class="text-center">Весь товар распределен по партиям!</h3>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}