{% extends 'indicator/indicator_base.html' %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-6 row">
            <span><h5>Текущий месяц</h5></span>
            <div class="col-lg-11 border border-dark rounded-2 m-3 p-2">
                <ul>Доход - {{profit_current_month}} р.</ul>
                <ul>Расход</ul>
                <ul>Прибыль</ul>
                <ul>Новых клиентов</ul>
                <ul>Заказов - {{product_current_month}}</ul>
                <ul>Отправленно</ul>
                <ul>Средний доход с заказа</ul>
                <ul>Категории</ul>
                <ul>З/П</ul>
            </div>
        </div>
        <div class="col-6 row">
            <span><h5>Прошлый месяц</h5></span>
            <div class="col-lg-11 border border-dark rounded-2 m-3 p-2">
                <ul>Доход - {{profit_last_month}} р.</ul>
                <ul>Расход</ul>
                <ul>Прибыль</ul>
                <ul>Новых клиентов</ul>
                <ul>Заказов - {{product_last_month}}</ul>
                <ul>Отправленно</ul>
                <ul>Средний доход с заказа</ul>
                <ul>Категории</ul>
                <ul>З/П</ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}